<form action="/submit" method="post">
    <textarea id="postContent" name="postContent" rows="4" cols="50" placeholder="Change your post here..."></textarea>
    <textarea id="postContent" name="postnoo" rows="4" cols="50" placeholder="post no..."></textarea>
    <button type="submit">Edit Post</button>
  </form>
  